Repository The-Guardian-Dog-Studio/TGD-Website-Client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "*.{ts,tsx,json}": ["prettier --write"]
}

fix: incorrect url in press kit navigation links
  src/main/factories/make-press-kit-data.ts
Due: eslint --fix, eslint, prettier --write

refactor: better responsive press-kit page
  src/components/layout/press-kit-navigation.tsx
  src/components/sections/team-section.tsx
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@d69800833e7399e93d2dc27276a9cb14eec8f1ef 🚀
  astro/_slug_.22a29287.css
  astro/_slug_.9333d918.css
  astro/components.3d8d028b.js
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
  team/index.html
Due: eslint --fix, eslint

chore: release 0.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add animations to home
  src/components/layout/footer.tsx
  src/components/layout/head.tsx
  src/components/layout/header/header.tsx
  src/pages/index.astro
Due: eslint --fix, eslint, prettier --write

feat: add animations to presskit page
  src/components/layout/press-kit-navigation.tsx
  src/components/layout/side-bar.tsx
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

feat: add animations to team page
  src/pages/team.astro
Due: none

feat: add animations to game page
  src/components/sections/game-hero.tsx
  src/pages/games/[slug].astro
  src/pages/index.astro
Due: eslint --fix, eslint, prettier --write

conserto links imediatos
  src/components/layout/seo.tsx
  src/database/games/call-of-the-racket.json
  src/database/games/super-gattai.json
  src/database/press-kit.json
  src/main/factories/make-press-kit-data.ts
Due: eslint --fix, eslint, prettier --write

admins
  src/database/team.json
Due: prettier --write

contribuintes
  src/database/team.json
Due: prettier --write

ordem das redes sociais
  src/database/home.json
Due: prettier --write

premios e artigos desativados.
  src/database/press-kit.json
  src/main/factories/make-press-kit-data.ts
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

links dos projetos re-consertado
  src/database/press-kit.json
Due: prettier --write

premios
  src/database/press-kit.json
  src/main/factories/make-press-kit-data.ts
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@780ae6a860ed87d9cc2eba85c082e73855fa02cc 🚀
  astro/_slug_.20ba0866.css
  astro/_slug_.22a29287.css
  astro/components.40c84965.js
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
  team/index.html
Due: eslint --fix, eslint

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@b6a02659b405385a136c9941bec1c1d180ad29e8 🚀
  astro/components.c69b33fd.js
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
  team/index.html
Due: eslint --fix, eslint
