Repository The-Guardian-Dog-Studio/TGD-Website-Client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ Wesley-AlvesRolim/TGD-Website-Client@912db7dae1968dfcb603a7e8c68b175a48f78dcc 🚀
  astro/components.8f2ab3c5.js
  astro/components.b467f679.js
  astro/hoisted.469fc4d3.js
  astro/hoisted.890fbde6.js
  astro/index.0d6e2d0e.css
  astro/index.dd922667.css
  astro/index.eb65e5f0.css
  astro/press-kit.27b773e9.css
  index.html
  press-kit/index.html
Due: eslint --fix, eslint

feat: add icons of games platform
  public/google-play.svg
  public/itch-io.svg
  public/playstation.svg
  public/steam.svg
  public/super-gattai-banner.png
Due: none

feat: add filled social media icons as components
  src/components/icons/facebook-filled.tsx
  src/components/icons/index.ts
  src/components/icons/instagram-filled.tsx
  src/components/icons/twitter-filled.tsx
Due: eslint --fix, eslint, prettier --write

refactor: add LinkProps to other links
  src/components/link/blank.tsx
  src/components/link/default.tsx
  src/components/link/download.tsx
Due: eslint --fix, eslint, prettier --write

refactor: create smaller interfaces
  src/domain/protocols/game-platform.ts
  src/domain/protocols/game.ts
  src/domain/protocols/index.ts
  src/domain/protocols/platform.ts
  src/domain/protocols/social-media-platform.ts
Due: eslint --fix, eslint, prettier --write

refactor: add topPageHref prop to footer
  src/components/game.tsx
  src/components/link/blank.tsx
  src/components/social-media.tsx
  src/data/home.json
  src/layouts/Layout.astro
Due: eslint --fix, eslint, prettier --write

refactor: change featured-section to hero-banner
  src/components/sections/featured-section.tsx
  src/components/sections/hero-banner.tsx
  src/components/sections/iframe.tsx
  src/components/sections/index.ts
  src/pages/index.astro
Due: eslint --fix, eslint, prettier --write

feat: add data to each game page
  src/data/games-data-page.json
  src/data/games/call-of-the-racket.json
  src/data/games/super-gattai.json
  src/data/press-kit.json
Due: prettier --write

feat(button.tsx): add color variants
  src/components/button.tsx
Due: eslint --fix, eslint, prettier --write

fix: error with interface
  src/data/games-data-page.json
Due: prettier --write

fix(index.astro): typo mistake on write id
  src/pages/index.astro
Due: none

feat: create platforms component
  src/components/index.ts
  src/components/platforms.tsx
Due: eslint --fix, eslint, prettier --write

feat: games page
  src/pages/games/[slug].astro
Due: none

refactor: change link to redirect to game page
  src/components/game.tsx
  src/data/home.json
Due: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ Wesley-AlvesRolim/TGD-Website-Client@27beefd83e2de35882ae188f3d9de6fb45f9b8ce 🚀
  astro/_slug_.27b773e9.css
  astro/_slug_.fff58b97.css
  astro/components.1a995496.js
  astro/components.b467f679.js
  astro/index.0d6e2d0e.css
  astro/index.eb65e5f0.css
  astro/index.f6a0f8b5.css
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  google-play.svg
  index.html
  itch-io.svg
  playstation.svg
  press-kit/index.html
  steam.svg
  super-gattai-banner.png
Due: eslint --fix, eslint

chore: add .nojekyll
  .nojekyll
Due: none

fix: incorrect path to icons
  src/data/games/call-of-the-racket.json
  src/data/games/super-gattai.json
Due: prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@54fc31bec3fb4bb690c28c5c896f4376a3581b7b 🚀
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
Due: none

fix: incorrect path to banner
  src/data/games/call-of-the-racket.json
  src/data/games/super-gattai.json
Due: prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@1cfcadd382da8a160a86082180ed6c4bdd8cee52 🚀
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
Due: none

refactor: move data to database folder and create factories
  src/components/game.tsx
  src/components/layout/footer.tsx
  src/components/layout/header/header.tsx
  src/components/layout/header/menu/navigation-links.tsx
  src/components/sections/contact-section.tsx
  src/components/sections/games-section.astro
  src/components/sections/hero-banner.tsx
  src/data/index.ts
  src/database/games-data-page.json
  src/database/games/call-of-the-racket.json
  src/database/games/super-gattai.json
  src/database/home.json
  src/database/index.ts
  src/database/press-kit.json
  src/domain/protocols/contact-protocol.ts
  src/main/factories/index.ts
  src/main/factories/make-home-data.ts
  src/main/factories/make-press-kit-data.ts
  src/pages/games/[slug].astro
  src/pages/index.astro
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

refactor: create GameHero
  src/components/sections/game-hero.tsx
  src/components/sections/index.ts
  src/pages/games/[slug].astro
Due: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@5d52820880e3779eb9f5bc6fd5b7b9ce6a8991cd 🚀
  astro/components.1a995496.js
  astro/components.71b2b212.js
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
Due: eslint --fix, eslint

docs: add README
  README.md
Due: none

chore: release v0.2.0
  package-lock.json
  package.json
Due: prettier --write

docs: add CHANGELOG 0.2.0
  CHANGELOG.md
Due: none

fix: incorrect file path on game page
  src/components/sections/game-hero.tsx
  src/pages/games/[slug].astro
Due: eslint --fix, eslint, prettier --write

fix: incorrect path to favicon
  src/components/layout/head.tsx
Due: eslint --fix, eslint, prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@b4131c21e854a745b5cb81c55ee787949717aff9 🚀
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
Due: none

chore: release 0.2.1
  package-lock.json
  package.json
Due: prettier --write

docs: add CHANGELOG 0.2.1
  CHANGELOG.md
Due: none

fix(mobile-header.tsx): unavalible scroll on tiny mobile screen
  src/components/layout/header/mobile-header.tsx
Due: eslint --fix, eslint, prettier --write

feat: add Collaborator protocol
  src/domain/protocols/collaborator.ts
  src/domain/protocols/index.ts
Due: eslint --fix, eslint, prettier --write

feat: add make team data factory
  src/database/team.json
  src/main/factories/index.ts
  src/main/factories/make-team-data.ts
Due: eslint --fix, eslint, prettier --write

feat: add team page
  src/components/sections/press-kit-section.tsx
  src/components/sections/team-section.tsx
  src/pages/team.astro
Due: eslint --fix, eslint, prettier --write

refactor: using team data from factory
  src/database/press-kit.json
  src/main/factories/make-press-kit-data.ts
  src/pages/press-kit.astro
Due: eslint --fix, eslint, prettier --write

chore(.prettierrc): add prettier plugin astro
  .prettierrc
Due: none

style: code format and lint
  src/components/sections/games-section.astro
  src/layouts/Layout.astro
  src/pages/games/[slug].astro
  src/pages/index.astro
  src/pages/press-kit.astro
  src/pages/team.astro
Due: none

feat: add link to team page in nav bar
  src/database/home.json
Due: prettier --write

Deploying to gh-pages from @ The-Guardian-Dog-Studio/TGD-Website-Client@94b1179b85db6aec29ade153b7df18ffe677a099 🚀
  astro/_slug_.9333d918.css
  astro/_slug_.fff58b97.css
  astro/components.71b2b212.js
  astro/components.c09dc515.js
  games/call-of-the-racket/index.html
  games/super-gattai/index.html
  index.html
  press-kit/index.html
  team/index.html
Due: eslint --fix, eslint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{ts,tsx,json}
